header{
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
}
header div{
    border: 1px solid black;
}

.Titulos  {
  width: 500px;
  text-shadow: 2px 2px 10px gray;
  font-family: Franklin Gothic Heavy;
  color: black;
  background-color: #bdc3c7
}

body{
    background-color: #005883;
    text-align: center;
}

.principal{
    display: flex;
    justify-content: center;
}

.menu{
    margin: 0px;
    justify-content: right;
}

.menu button{
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    background-color: #bdc3c7;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    border: none;
    align-items: right;
    display: block;
    justify-content: right;
    font-family: Candara;
}

.menu button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #bdc3c7;
}

.menu button:active{
    background-color: #bdc3c7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.menu button:focus{
    background-color: whitesmoke;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bloque{
    height: 600px;
    width: 1000px;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
}

.bloque H2{
    font-family: Franklin Gothic Heavy;
}

.bloque p{
  font-family: Franklin Gothic Book;
}

.Objetivos{
  text-align: center;
  justify-content: center;
  aling-items: center;
  display: block;
}
